<footer id="footer">
	<div class="container">
		<ul class="text-center pt-4 h2">
			<li class="list-inline-item"><a href="https://github.com/gagdiez/pool_party"><i class="fab fa-github fa-fw"></i></a></li>
			<li class="list-inline-item"><a href="https://twitter.com/poolpartynear"><i class="fab fa-twitter fa-fw"></i></a></li>
			<li class="list-inline-item"><a href="https://discord.gg/fQxSybxX"><i class="fab fa-discord fa-fw"></i></a></li>
		</ul>

		<div class="copyright mt-4 mb-1">
			&copy; Designed by <a href="https://twitter.com/gagdiez">gagdiez</a> and
			<a href="https://twitter.com/lunafromthem00n">lunafromthemoon</a>.
			All Rights Reserved
		</div>

		<div class="credits">
				Powered by <a href="https://near.org/">NEAR</a> and <a href="https://siasky.net">SIA</a>
		</div>
	</div>
</footer>


<a href="#" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
<div id="preloader"></div>