<nav id="header" class="fixed-top navbar navbar-expand-lg navbar-dark">
	<div class="container">
		<a class="navbar-brand logo">
			<img src="/assets/img/btn-logo.png"> POOL PARTY
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{% for item in site.data.navigation %}
					<a class="nav-link" href="{{item.link}}">{{ item.name }}</a>
				{% endfor %}

				<a id="login-btn" class="logged-out nav-link" onclick="login()" type="button" href="#">Login</a>
				<div class="dropdown logged-in">
					<a class="nav-link dropdown-toggle fw-bold" id="account" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="account">
						<a class="dropdown-item" onclick="logout()" type="button">Logout</a>
					</div>
				</div>
				<div  id="navbarNavAltMarkup" class="separator collapse show"></div>
				<a class="nav-link" href="https://twitter.com/poolpartynear"><i class="fab fa-twitter fa-fw"></i></a>
				<a class="nav-link pe-0" href="https://discord.gg/fQxSybxX"><i class="fab fa-discord fa-fw"></i></a>
			</div>
		</div>
	</div>
</nav>
